<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPlusPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftPlusPlusOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4966682B1A7F53D6002FC394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496668351A7F53D6002FC394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498AE60B1BA10BD3008E8E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FEA5001943922A00F2AFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FEA50B1943922A00F2AFDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
